@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

nav {
  display: inline;
  align-items: center;
  position: relative;
}

nav ul {
  position: relative;
  bottom: 50px;
  display: inline;
  margin: 0;
  text-align: right;
  padding: 0;
  float: right;
}

nav li {
  display: inline;
  list-style: none;
  padding: 20px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 3px;
}

nav li a {
  text-decoration: none;
  color: black;
}

header {
  padding: 5px;
  position: relative;
  box-shadow: 0 0px 10px 0 gray;
}

.logo {
  position: relative;
  left: 20px;
}

.logo a {
  text-decoration: none;
}

.logo img {
  width: 75px;
  height: 75px;
}

.logo h2 {
  color: black;
  display: inline;
  position: relative;
  bottom: 25px;
  margin-left: 5px;
  font-size: 36px;
}

.side-menu {
  padding-left: 100px;
  padding-top: 40px;
  position: relative;
  left: 0;
  width: 25%;
  display: inline-block;
}

.side-menu h3 {
  padding: 10px;
}

.side-menu button {
  padding: 10px;
  list-style: none;
  text-decoration: none;
  background: none !important;
  border: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
}

.catalogue {
  display: inline;
  right: 0;
  width: 70%;
  padding-left: 100px;
  position: absolute;
  margin-top: 40px;
  padding: 20px;
}

.menu-card {
  display: inline-block;
  width: 30%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0px gray;
}

.menu-card-img img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.menu-card-content {
  padding: 10px;
}

.menu-card-content h3 {
  padding: 10px;
  text-align: center;
}

.card-button {
  padding: 10px;
  text-align: center;
}

.card-button a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: #62d56f;
}

.card-button a:hover {
  background-color: #4caf50;
}

.filter-div {
  display: none;
}

.show {
  display: inline-block;
}

.btn:hover {
  left: 3px;
  position: relative;
}

.btn.active {
  color: #4caf50;
}

/* make this page responsive */
@media screen and (max-width: 768px) {
  .side-menu {
    display: block;
    margin: 10px;
    width: 100%;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  .catalogue {
    width: 100%;
    padding-left: 0;
  }
  .menu-card {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .menu-card {
    width: 44%;
    padding: 0;
  }
}
