@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

nav {
  display: inline;
  align-items: center;
  position: relative;
}

nav ul {
  position: relative;
  bottom: 50px;
  display: inline;
  margin: 0;
  text-align: right;
  padding: 0;
  float: right;
}

nav li {
  display: inline;
  list-style: none;
  padding: 20px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 3px;
}

nav li a {
  text-decoration: none;
  color: black;
}

header {
  padding: 5px;
  position: relative;
  box-shadow: 0 0px 10px 0 gray;
}

.logo {
  position: relative;
  left: 20px;
}

.logo img {
  width: 75px;
  height: 75px;
}

.logo h2 {
  color: black;
  display: inline;
  position: relative;
  bottom: 25px;
  margin-left: 5px;
  font-size: 36px;
}

.side-menu {
  padding-left: 100px;
  padding-top: 40px;
  position: relative;
  left: 0;
  width: 25%;
  display: inline-block;
}

.side-menu h3 {
  padding: 10px;
}

.side-menu li {
  padding: 10px;
  list-style: none;
  text-decoration: none;
}

.catalogue{
  display: inline;
  right: 0;
  width: 70%;
  padding-left: 100px;
  position: absolute;
  margin-top: 40px;
  padding: 20px;
}

.menu-card{
  display: inline-block;
  width: 30%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0px gray;
}

.menu-card-img img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.menu-card-content{
  padding: 10px;
}

.menu-card-content h3{
  padding: 10px;
  text-align: center;
}

.card-button{
  padding: 10px;
  text-align: center;
}

.card-button a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: #62d56f;
}


